.cajita{
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
}
.caja{
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 50%;
    width: 200px;
    height: 20px;
    text-align: center;
    line-height: 20px;
}